main {
    max-width: 600px;
    margin: 0 auto;
    width: 100vw;
    min-height: 100vh;
    color: white;
    background: url("/images/bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
    font-family: "Poppins", sans-serif;
    padding-bottom: 4.25rem;
}

@media (min-width:1000px) {
    main{
        max-width: none;
        padding-left: 5vw;
        padding-right: 5vw;
        background-image: url("/images/bg-intro-desktop.png");
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 0;
    }

    app-intro {
        grid-row: span 2;
    }
}

@media (min-width:1500px) {
    main {
        padding-left: 12.25vw;
        padding-right: 12.25vw;
    }
}