section {
    width: 85.87%;
    margin: 0 auto;
    background-color: white;
    border-radius: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 0.5rem rgba(0, 0, 0, 0.144);
}

section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

section form input {
    width: 90%;
    margin: 0 auto;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: 1px solid hsl(246, 25%, 77%);
    color: hsl(249, 10%, 26%);
    margin-top: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-indent: 1.2rem;
}

section form input::placeholder {
    color: hsl(246, 25%, 77%);
}

section form input:active {
    border-color: hsl(249, 10%, 26%);
}

section form span {
    color: hsl(0, 100%, 74%);
    font-style: italic;
    width: 90%;
    margin: 0.3rem auto 0 auto;
    text-align: right;
    font-size: 0.7rem;
    display:none;
}

section form span:after {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: -2.5rem;
    right: 1.3rem;
    content: url("/images/icon-error.svg");
}

section form button {
    width: 90%;
    margin: 0 auto;
    margin-top: 1.5rem;
    background-color: hsl(154, 59%, 51%);
    border: none;
    color: white;
    font-size: 0.8725rem;
    font-weight: 700;
    border-radius: 0.25rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    box-shadow: 0 0.3rem hsla(154, 62%, 42%, 0.87);
}

section form button:hover {
    opacity: 80%;
    cursor: pointer;
}

section p {
    width: 85.87%;
    margin: 1rem auto;
    color: hsl(246, 25%, 77%);
    text-align: center;
    font-size: 0.8125rem;
    font-weight: 400;
}

section p a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 500;
}

@media (min-width:1000px) {
    section form {
        padding-top: 1rem;
    }

    section form span {
        font-size: 0.8725rem;
    }

    section form span:before {
        width: 2rem;
        height: 2rem;
    }

    section form button {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    section {
        padding-bottom: 1.5rem;
    }
}