<section>
    <form method="post">
        <input type="text" placeholder="First Name" name="FirstName">
        <span>First Name cannot be empty</span>
        <input type="text" placeholder="Last Name" name="LastName">
        <span>Last Name cannot be empty</span>
        <input type="email" placeholder="Email Address" name="email">
        <span>Looks like this is not an email</span>
        <input type="password" placeholder="Password" name="password">
        <span>Password cannot be empty</span>
        <button type="submit">CLAIM YOUR FREE TRIAL</button>
    </form>
    <p>
        By clicking the button you are agreeing to our <a href="#">Terms and Services</a>
    </p>
</section>